<h2>Kommentarer (<%= @comments.count %>):</h2>
<% @comments.each do |comment| %>
<div class="comment">
	<div class="attendee">
	<div class="image"><%= image_tag avatar_url(comment.email), style: 'width: 32px; height: 32px' %></div>

	<span>
		<%= comment.name %>:
	</span>
	</div>
	<div style="padding-left: 45px;">
		
		<%= format_description comment.content %>
		<small class="muted" style="display:block; margin-top: 20px;">
			<%= l comment.created_at, format: :short%>
			<% if user_signed_in? &&  @meeting.can_be_edited_by(current_user) %>
				<span> - <%= mail_to comment.email %></span>
			<% end %>
		</small>
	</div>
</div>
<hr/>
<% end %>
<div>
	<%= form_for [@meeting, @comment] do |f| %>
	<%= hidden_field_tag 'no-spammy-spammy', '0' %>
	<p>
		Skriv en kommentar:
	</p>
	<div class="control-group">
		<div class="controls">
			<%= f.text_area :content, class: 'input-xlarge', required: true, placeholder: 'Kommentar', rows: 5 %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.text_field :name, class: 'input-xlarge', required: true, placeholder: 'Navn' %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.text_field :email, class: 'input-xlarge', required: true, placeholder: 'Email' %>
		</div>
	</div>
	<%= f.submit 'Kommenter', class: 'btn btn-success'%> <small><span class="muted">(Alle felter er påkrævet)</span></small>
	<% end %>
</div>
