<div class="container_12">
  <%= form_for(@meeting) do |f| %>
    <% if @meeting.errors.any? %>
      <div id="error_explanation">
        <h2>Find <%= @meeting.errors.count %> fejl:</h2>
        <ul>
          <% @meeting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <label class="radio">
            <%= f.radio_button :joinable, false %>
            Tilmelding skal ikke ske på geekhub.dk, men på en anden side.
          </label>
          <label class="radio">
            <%= f.radio_button :joinable, true %>
            <span class="label label-default">beta</span> Tilmelding skal ske på geekhub.dk
          </label>
        </div>
        <div class="well" data-visible-field="input[name='meeting[joinable]']" data-visible-value="false">
          <div class="field">
            <%= f.label :url %>
            <%= f.text_field :url, placeholder: 'http://example.org', class: 'form-control', 'data-behavior' => 'meeting-url' %>
          </div>
        </div>
        <div class="well" data-visible-field="input[name='meeting[joinable]']" data-visible-value="true">
          <div class="field-inline">
            <%= f.label :capacity %>
            <div class="row">
              <div class="col-md-2">
              <%= f.number_field :capacity, placeholder: 'f.eks. 50', class: 'form-control', min: '1' %>
              </div>
            </div>
            <span class="help-inline">
              Lad den være tom, hvis der ikke er nogen maks kapacitet.
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="well">   
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :starts_at %>
            <%= render partial: 'datepicker', locals: { f: f, field: :starts_at, value: @meeting.starts_at } %>
          </div>
          <div class="form-group checkbox">
            <%= f.check_box :costs_money %> <%= f.label :costs_money %>
          </div>
          <div class="form-group">
            <%= f.label :city_id %>
            <%= f.select(:city_id, City.order('name').collect {|p| [ p.name, p.id ] }, {:include_blank => 'Vælg venligst by'}, class: "form-control")%>
            <div>
              <small>Mangler der en by? Så skriv en mail til <a href="mailto:hello@geekhub.dk">hello@geekhub.dk</a>.</small>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, class: "form-control" %> (valgfri, inkl postnummer og by)
          </div>
          <div class="form-group">
            <%= f.label :organizer %>
            <%= f.text_field :organizer, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :tag_names %>
            <%= f.text_field :tag_names, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, :rows => 19, class: 'form-control' %>
            <small>(understøtter p.t. ikke fancy formateringer)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary btn-large' %>
    </div>
  <% end %>
</div>
