<div class="span6">
  <div class="meeting" data-lat="<%= meeting.latitude %>" data-lng="<%= meeting.longitude %>"> 
    <div>
      <%= friendly_date(meeting.starts_at) %>
    </div>
    <div class="title">
        <%= link_to meeting.title, meeting, title: meeting.title %>
    </div>
    <div>
      <%= render partial: 'meetings/tags', locals: { meeting: meeting } %> 
    </div> 
  </div>
</div>
