<div class="span12">
  <div class="meeting" data-lat="<%= meeting.latitude %>" data-lng="<%= meeting.longitude %>"> 
    <div class="map hidden-phone">
      <% if meeting.city.try(:name) == "Online" %>
        <div style="background-color: #66B8DB; display: table-cell; width: 250px; height: 150px; text-align: center; vertical-align: middle;">
          <img src="cloud.png" alt="Online" style="vertical-align: middle" />
        </div>
      <% else %>
        <% unless meeting.address.blank? %>
          <%= google_maps_image_link meeting.address, 250, 150 %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= friendly_date(meeting.starts_at) %>
    </div>
    <div class="title">
        <%= link_to meeting.title, meeting, title: meeting.title %>
    </div>
    <div>
      <%= render partial: 'meetings/tags', locals: { meeting: meeting } %> 
    </div>
  </div>
</div>
