<div class="meeting vevent">
  <h2><a href="#" class="summary"><%= meeting.title %></a></h2>
  <div class="info">
    <span class="location">
      <%= meeting.location %>
    </span> 
    den 
    <span class="dtstart" title="<%= meeting.starts_at.iso8601 %>">
      <%= l meeting.starts_at, :format => :short %>
    </span> 
    - 
    <span class="organizer">
      <%= meeting.organizer %>
    </span>

    <% if meeting.costs_money %>
      <%= image_tag 'money.png', title: "Det koster penge at deltage", class: "money-icon" %>
    <% end %>
  </div>
  <div class="details" style="display:none">
    <div><%= nl2br meeting.description %></div>
    <div class="url"><a href="<%= meeting.url %>">Læs mere / tilmelding</a></div>
    <div class="alt-actions">
      <div class="edit_meeting">
        <% if meeting.kind_of? Meeting %>
          <%= link_to 'Foreslå rettelse', edit_meeting_path(meeting) %>
        <% else %>
          <%= link_to 'Rediger forslag', edit_meeting_revision_path(meeting) %>
        <% end %>
      </div>    
      <div class="ics">
        <%= link_to 'Tilføj til kalender', meeting_path(meeting, :format => :ics) %>
      </div>
      <div class="share">
        <span class="st_facebook_button" st_url="<%= meeting.url %>" st_title="<%= meeting.title %>"></span>
        <span class="st_twitter_button" st_url="<%= meeting.url %>" st_title="<%= meeting.title %>"></span>
        <!--<span class="st_plusone_button" st_url="<%= meeting.url %>" st_title="<%= meeting.title %>"></span>-->
      </div>
    </div>
  </div>
</div>