<div class="meeting">
  <h2><a href="#"><%= meeting.title %></a></h2>
  <div class="info"><%= meeting.location %> den <%= l meeting.starts_at, :format => :short %> - <%= meeting.organizer %></div>
  <div class="details" style="display:none">
    <div><%= nl2br meeting.description %></div>
    <div class="url"><a href="<%= meeting.url %>">Læs mere / tilmelding</a></div>
    <div class="ics"><%= link_to 'Tilføj til kalender', meeting_path(meeting, :format => :ics) %></a></div>
    <% if user_signed_in? %>
    <div class="edit"><%= link_to 'Rediger', edit_meeting_path(meeting) %></div>
    <% end %>
  </div>
</div>