<div class="tags">
	<div class="tags-tag location"><%= meeting.city.try(:name).downcase %></div>
	<% unless meeting.costs_money %>
	<% meeting.tags.each do |t| %>
		<div class="tags-tag technology">
			<%= t.name.downcase %>
		</div>
	<% end %>
	<div class="tags-tag free">gratis</div>
	<% end %>
	<div class="tags-tag organizer"><%= meeting.organizer.downcase %></div>
	<% if meeting.joinable? %>
	<div class="tags-tag attendees">
		<div class="image">
			<%= image_tag '/person.png' %>
		</div><%= pluralize meeting.attendees_count, 'deltager', 'deltagere' %>
	</div>
	<% end %>
	<% if meeting.comments_count > 0 %>
	<div class="tags-tag comments">
		<%= pluralize meeting.comments_count, 'kommentar', 'kommentarer' %>
	</div>
	<% end %>

</div>