<div id="events">
  <div class="row">
    <div class="span12"><%= render 'shared/navigation' %></div>
  </div>
  <div class="row">
    <div class="span8">
      <h1>Velkommen til geekhub</h1>
      <%= render 'intro' %>
    </div>
    <div class="span4 hidden-phone">
      <%= link_to "Indsend event", new_meeting_path, class: "big-frontpage-button" %>
    </div>
  </div>
  <section>
    <div class="row">
      <%= render "filters" %>
    </div>
    <div class="meetings row"> 
      <%= render @meetings%>
    </div>
    <div class="row">
      <div class="span12">
        <%= link_to "Arkiv", meetings_path(all: "1") %> 
      </div>
    </div>
  </section>
</div>
