<div id="events">
  <div class="row">
    <div class="span12"><%= render 'shared/navigation' %></div>
  </div>
  <div class="row">
    <div class="span8">
      <h1>Velkommen til geekhub</h1>
      <%= render 'intro' %>
    </div>
    <div class="span4 hidden-phone"><%= link_to "Indsend event", new_meeting_path, class: "big-frontpage-button" %></div>
  </div>
  <section>
    <div class="row">
      <%= form_tag root_path, method: :get, remote: true do %>
        <div class="filters span12">
          <%= hidden_field_tag :all, params[:all] %>

          <% if params[:organizer].is_a? Array %>
            <% params[:organizer].each do |o| %>
              <%= hidden_field_tag "organizer[]", o %>
            <% end %>
          <% else %>
            <%= hidden_field_tag "organizer", params[:organizer] %>
          <% end %>

          <div class="btn-group hidden-phone">
            <% @location_filters.each do |f| %>
                <label class="btn">
                  <%= check_box_tag "location[]", f, @active_location_filters.any?{|l| l.downcase == f.downcase} || @active_location_filters.empty? %>
                  <%= f %>
                </label>
            <% end %>
          </div>
        </div>
        <div class="span12">
          <div class="well" id="distance-filter" style="display:none; overflow: hidden">
            <span>Maks afstand fra mig:</span>
            <input name="max-distance" type="range" min="10" max="250" step="10" value="250" /> (<span class="max-distance-value">250</span> km)
          </div>
        </div>
        <%= submit_tag "Tilpas", style: "display:none" %>
      <% end %>
    </div>
    <div class="meetings row"> 
      <%= render :partial => "meetings/list", :collection => @meetings, :as => :meeting %>
    </div>
  </section>
</div>
