<div id="events">
  <div class="row">
    <div class="span12"><%= render 'shared/navigation' %></div>
  </div>
  <div class="row">
    <div class="span9">
      <div class="hidden-tablet hidden-desktop">
        <%= link_to "Foreslå event", "#eventModal", { class: "btn btn-small", role: "button", 'data-toggle' => "modal" } %>
        <span>eller:</span>
        <%= link_to "Opret dit event", new_meeting_path %>
      </div>
      <h1>Velkommen til geekhub</h1>
      <div class="intro">
        <p>
          Geekhub.dk er en brugervedligeholdt liste, som lister events/møder som er interessante for udviklere.
          <%= link_to "Læs mere", om_path %>
        </p>
      </div>
    </div>
    <div class="span3 hidden-phone">
      <div class="pull-right">
        <div>
          <%= link_to "Foreslå event", "#eventModal", { class: "big-frontpage-button btn btn-primary btn-large", role: "button", 'data-toggle' => "modal" } %>
        </div>
        <div class="muted" style="margin: 5px; text-align: center;">
          <span>eller:</span>
          <%= link_to "Opret dit event", new_meeting_path %>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="row">
      <%= render "filters" %>
    </div>
    <div class="meetings row">
      <div class="span12">
        <%= render @meetings%>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= link_to "Arkiv", meetings_path(all: "1") %>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<%= render "suggest_modal" %>