<%= render 'shared/intro' %>
<h1>
  <%= "Kommende events" if @mode == :upcomming %>
  <%= "Events der mangler godkendelse" if @mode == :approve %>
</h1>

  <% @meetings.group_by(&:month).sort.each do |month, meetings|%>
    <h2><%= month_name month %></h2>
    <div class="meetings">
      <%= render meetings %>    
    </div>
  <% end %>
