<div id="events">
  <div class="row">
    <div class="span12"><%= render 'shared/navigation' %></div>
  </div>
  <div class="row">
    <div class="span8">
      <h1>Velkommen til geekhub</h1>
      <div class="intro">
        <p>
          Geekhub.dk er en brugervedligeholdt liste, som lister events/møder som er interessante for udviklere. 
          <br/>
          <%= link_to "Læs mere", om_path %></a>
        </p>
      </div>
    </div>
    <div class="span4 hidden-phone">
      <%= link_to "Indsend event", new_meeting_path, class: "big-frontpage-button" %>
    </div>
  </div>
  <section>
    <div class="row">
      <%= render "filters" %>
    </div>
    <div class="meetings row"> 
      <%= render @meetings%>
    </div>
    <div class="row">
      <div class="span12">
        <%= link_to "Arkiv", meetings_path(all: "1") %> 
      </div>
    </div>
  </section>
</div>
