<% content_for(:title, 'Liste over møder / events for udviklere')%>
<% content_for(:head) do %>
<meta name="description" content="Geekhub.dk er en brugervedligeholdt liste, som lister events/møder som er interessante for udviklere.">	
<% end %>
<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Velkommen til geekhub</h1>
        <div class="intro">
          <p>
            Geekhub.dk er en brugervedligeholdt liste, som lister events/møder som er interessante for udviklere.
            <%= link_to 'Læs mere', om_path %>
          </p>
        </div>
      </div>
      <div class="col-md-3 hidden-xs">
        <div class="pull-right">
          <div style="margin-top: 25px;">
            <%= link_to 'Foreslå event', '#eventModal', { class: 'big-frontpage-button btn btn-primary btn-large', role: 'button', 'data-toggle' => 'modal'} %>
          </div>
          <div class="muted" style="margin: 5px; text-align: center;">
            <span>eller:</span>
            <%= link_to 'Opret dit event', new_meeting_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">

      <div class="row" style="margin-top: 15px;">
        <%= render 'filters' %>
      </div>
    </div>

    <div class="container">
      <div class="meetings" style="margin-top: 15px;">
        <%= render @meetings%>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="span12">
          <%= link_to 'Arkiv', archive_meetings_path %>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<%= render 'suggest_modal' %>
</div>