<div id="events">
  <div class="row">
    <div class="span12"><%= render 'shared/navigation' %></div>
  </div>
  <div class="row">
    <div class="span9">
      <div class="hidden-tablet hidden-desktop">
        <%= link_to "Foreslå event", "#eventModal", { class: "btn btn-small", role: "button", 'data-toggle' => "modal" } %>
        <span>eller:</span>
        <%= link_to "Opret dit event", new_meeting_path %>
      </div>
      <h1>Velkommen til geekhub</h1>
      <div class="intro">
        <p>
          Geekhub.dk er en brugervedligeholdt liste, som lister events/møder som er interessante for udviklere. 
          <%= link_to "Læs mere", om_path %>
        </p>
      </div>
    </div>
    <div class="span3 hidden-phone">
      <div class="pull-right">
        <div>
          <%= link_to "Foreslå event", "#eventModal", { class: "big-frontpage-button btn btn-primary btn-large", role: "button", 'data-toggle' => "modal" } %>
        </div>
        <div class="muted" style="margin: 5px; text-align: center;">
          <span>eller:</span>
          <%= link_to "Opret dit event", new_meeting_path %>
        </div>
      </div>  
    </div>
  </div>
  <section>
    <div class="row">
      <%= render "filters" %>
    </div>
    <div class="meetings row">
      <div class="span12">
        <%= render @meetings%>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= link_to "Arkiv", meetings_path(all: "1") %> 
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<div id="eventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for MeetingSuggestion.new(), html: { style: "margin: 0" } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Foreslå event</h3>
  </div>
  <div class="modal-body">
    <p>Her kan du foreslå et event. Skriv web-addressen til eventet, og tryk på foreslå. Vi vil derefter kigge på eventet, og tilføje det til listen.</p>
    <%= f.label :url %>
    <%= f.text_field :url, required: true, class: "span5", type: "url", placeholder:"http://example.org" %>
    <p><small><strong>Er det dig som holder eventet?</strong> <%= link_to "Udfyld mere info", new_meeting_path %>, og bestemt selv hvad der skal stå :)</small></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
    <input type="submit" class="btn btn-primary" value="Foreslå" />
  </div>
  <% end %>
</div>