<h1><%= @meeting.title %></h1>
<%= @meeting.organizer %>
<%= @meeting.location %>
<%= @meeting.starts_at %>
<div>
  <%= @meeting.description %>
</div>
<%= link_to 'Læs mere', @meeting.url, {id: 'readmore'} %>