<% content_for :title, @meeting.title %>

<article class="meeting row vevent" itemscope itemtype="http://schema.org/Event">
	
	<div class="span7">  
		<header>
			<h1><%= link_to @meeting.title, @meeting.url, class:"summary", itemprop:"name" %></h1>
		</header>
		<section class="description">
			<%= nl2br @meeting.description %>
		</section>
		<footer>
			<%= link_to('Læs mere / tilmelding', @meeting.url, {id: 'readmore', class: "btn btn-primary", itemprop:"url"}) unless @meeting.joinable %>
			<%= link_to('Tilmeld dig', "#attendModal", {id: 'attend', class: "btn btn-primary", role: "button", 'data-toggle' => "modal"}) if @meeting.joinable %>	
			<%= link_to('Afmeld dig', "#detendModal", {id: 'detend', class: "btn btn-link", role: "button", 'data-toggle' => "modal"}) if @meeting.joinable && @attendees.count > 0 %>	


			<%= mail_to(@meeting.user.email, "Kontakt arrangør", class: "btn btn-link pull-right") if @meeting.joinable %>	

			<%= link_to("Rapportér fejl", "mailto:hello@geekhub.dk?subject=" + u("Ang. #{@meeting.title} (##{@meeting.id})"), class: "btn btn-link pull-right") unless @meeting.joinable %>
		</footer>
		<% if @meeting.joinable && @attendees.count > 0 %>
		<div class="attendees">
			<h2>De kommer:</h2>
			<% @attendees.each do |a| %>
				<div class="attendee">
					<%= image_tag avatar_url_from_email(a.email) %>
					<span><%= a.name %></span>
					<% if a.user.nil? == false && a.user == current_user %>
						<%= link_to "Afmeld", meeting_attendee_path(@meeting, a), method: :delete, class: "btn btn-mini btn-danger", confirm: "Er du sikker?" %>
					<% end %>
				</div>
			<% end %>
		</div>
		<% end %>
	</div>
	<aside class="span5"> 
		<meta itemprop="startDate" content="<%= @meeting.starts_at.iso8601 %>">
		<span class="starts_at dtstart" title="<%= @meeting.starts_at.iso8601 %>"><%= l @meeting.starts_at, format: :short %></span>
		<%= render partial: 'tags', locals: { meeting: @meeting } %>

		<% if !@meeting.address.blank? %>
			<p class="location" title="<%=@meeting.address%>">
				<%= google_maps_image_link @meeting.address, 470, 300, 14 %></p>
        <% elsif !@meeting.city.nil?%>
          <p class="location" title="<%=@meeting.city.name%>">
            <%= google_maps_image_link @meeting.city.name, 470, 300, 10 %></p>
		<% end %>

		<% if user_signed_in? &&  @meeting.can_be_edited_by(current_user) %>
		  <div class="btn-group">
		    <%= link_to 'Rediger', edit_meeting_path(@meeting), class: "btn" %>
		    <%= link_to 'Slet', @meeting, method: :delete, :data => { :confirm => 'Nu er du ikke ved at gøre noget dumt, vel? :)' }, class: "btn btn-danger" %>
		  </div>
		  <% if @meeting.joinable %>
		  	<%= link_to 'Se deltagerliste', meeting_attendees_path(@meeting), class: "btn btn-link" %>
		  <% end %>
	</aside>
	<% end %>
</article>
<!-- Modal -->
<div id="attendModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_for [@meeting, @new_attendee], html: { style: "margin: 0" } do |f| %>
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="myModalLabel">Tilmelding</h3>
	    </div>
	    <div class="modal-body">
	    	<p>Skriv navn og email på deltageren, og tryk på <em>Tilmeld</em>.</p>

	    	<%= f.label :email, "E-mail" %>
	    	<%= f.email_field :email, required: true %>

	    	<%= f.label :name, "Navn" %>
	    	<%= f.text_field :name, required: true %>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
	      <input type="submit" class="btn btn-primary" value="Tilmeld" />
	    </div>
    <% end %>
</div>
<div id="detendModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_tag destroy_attendee_meeting_attendees_path(meeting_id: @meeting.id), style: "margin: 0" do %>
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="myModalLabel">Afmelding</h3>
	    </div>
	    <div class="modal-body">
	    	<p>Skriv email på deltageren, og tryk på <em>Afmeld</em>.</p>

	    	<%= label_tag :email, "E-mail" %>
	    	<%= email_field_tag :email, "", required: true %>

	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
	      <input type="submit" class="btn btn-primary" value="Afmeld" />
	    </div>
    <% end %>
</div>