<div class="container">
	<% content_for :title, @meeting.title %>

	<article class="meeting row">

		<div class="span7">
			<header>
				<h1><%= link_to @meeting.title, @meeting.url %></h1>
			</header>
			<section class="description">
				<%= @meeting.description %>
			</section>
			<footer>
        <%= render 'footer' %>
			</footer>
			<div class="row-fluid">

				<% if @meeting.joinable && @attendees.count > 0 %>
          <div class="span6">
            <%= render 'attendees' %>
          </div>
				<% end %>

				<% if @meeting.commentable? %>
  				<div class="span6">
 	  				<%= render 'comments' %>
	  			</div>
				<% end %>
			</div>
		</div>
		<aside class="span5">
			<span><%= l @meeting.starts_at, format: :short %></span>
			<%= render partial: 'tags', locals: { meeting: @meeting } %>
			<div class="map">
				<%= @meeting.image_map %>
			</div>
			<% if @meeting.show_edit_tools %>
			<div class="btn-group">
				<%= link_to 'Rediger', edit_meeting_path(@meeting), class: "btn" %>
				<%= link_to 'Slet', @meeting, method: :delete, :data => { :confirm => 'Nu er du ikke ved at gøre noget dumt, vel? :)' }, class: "btn btn-danger" %>
			</div>

			<%= link_to 'Se deltagerliste', meeting_attendees_path(@meeting), class: "btn btn-link" if @meeting.joinable %>

			<% end %>
		</aside>
	</article>

	<!-- Modal -->
	<%= render "attend_modal" %>
	<%= render "detend_modal" %>
</div>
