<article class="meeting">
  <div class="grid_2 back">
    <%= link_to 'Tilbage', root_path %>
  </div>
  <div class="grid_6">
    <header>
      <h1><%= link_to @meeting.title, @meeting.url %></h1>
    </header>
    <div class="votes">
      <span class="num-votes"><%= @meeting.meeting_votes.count %></span>
      <span class="label">up's</span>
       - 
      <%= link_to('Stem', vote_meeting_path(@meeting), method: :post) if @can_vote %>
      <% unless @can_vote %>
        <% if user_signed_in? %>
          Du har allerede stemt
        <% else %>
          Du skal logge ind for at stemme
        <% end %>
      <% end %>
    </div>
    <section class="description">
      <%= nl2br @meeting.description %>
    </section>
    <footer>
      <%= link_to 'Læs mere / tilmelding', @meeting.url, {id: 'readmore'} %>
    </footer>
  </div>
  <aside class="grid_4">
    <span class="starts_at"><%= l @meeting.starts_at, format: :short %></span>
    <%= render partial: 'tags', locals: { meeting: @meeting } %>

    <% if user_signed_in? && 
       @meeting.can_be_edited_by(current_user) %>
      <div>
        <%= link_to 'Rediger', edit_meeting_path(@meeting) %>
      </div>
      <div>
        <%= link_to 'Slet', @meeting, method: :delete, confirm: "Nu er du ikke ved at gøre noget dumt, vel? :)" %>
      </div>
    <% end %>
  </aside>
</div>