<% content_for :title, @meeting.title %>

<article class="meeting row vevent">
	
	<div class="span2 back">
		<%= link_to 'Tilbage', root_path %>
	</div>
	<div class="span6">  
		<header>
			<h1 class="summary"><%= link_to @meeting.title, @meeting.url %></h1>
		</header>
		<section class="description">
			<%= nl2br @meeting.description %>
		</section>
		<footer>
			<%= link_to 'Læs mere / tilmelding', @meeting.url, {id: 'readmore', class: "url"} %>
		</footer>
	</div>
	<aside class="span4"> 
		<span class="starts_at dtstart" title="<%= @meeting.starts_at.iso8601 %>"><%= l @meeting.starts_at, format: :short %></span>
		<% unless @meeting.address.blank? %>
			<p class="location" title="<%=@meeting.address%>">
				<%= google_maps_image_link @meeting.address %></p>
		<% end %>

		<%= render partial: 'tags', locals: { meeting: @meeting } %>		
		
		<% if user_signed_in? &&  @meeting.can_be_edited_by(current_user) %>
		  <div>
		    <%= link_to 'Rediger', edit_meeting_path(@meeting) %>
		  </div>
		  <div>
		    <%= link_to 'Slet', @meeting, method: :delete, :data => { :confirm => 'Nu er du ikke ved at gøre noget dumt, vel? :)' } %>
		  </div>
		<% end %>
	</aside>
</article>