<div class="container">
<h2>Rediger bruger</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password, 'Nyt kodeord' %>
  <%= f.password_field :password, :autocomplete => 'off' %>

  <%= f.label :password_confirmation, 'Gentag nyt kodeord' %>
  <%= f.password_field :password_confirmation %>
  <div class="well well-small">
    <%= f.label :current_password, 'Nuværende kodeord' %>
    <%= f.password_field :current_password %>
    <span class="help-block">(skriv dit kodeord for at godkende dine ændringer)</span>
  </div>
  
  <div><%= f.submit 'Update', class: 'btn btn-primary' %></div>
<% end %>

<h3>Slet konto</h3>

<p><%= link_to 'Slet min konto', registration_path(resource_name), :data => { :confirm => 'Er du nu sikkert?'}, :method => :delete, class: 'btn btn-danger btn-small' %>.</p>
</div>