<h1>Approve revision</h1>
<%= form_tag 'approve' do %>
  <table class="revision_overview">
    <tr>
      <td class="original">
        <%= @meeting.title %>
      </td>
      <td class="new">
        <%= @revision.title %>
      </td>
    </tr>
    <tr>
      <td class="original">
        <%= "Koster penge" if @meeting.costs_money %>
      </td>
      <td class="new">
        <%= "Koster penge" if @revision.costs_money %>
      </td>
    </tr>
    <tr>
      <td class="original">
        <%= @meeting.starts_at %>
      </td>
      <td class="new">
        <%= @revision.starts_at %>
      </td>
    </tr>
    <tr>
      <td class="original">
        <%= @meeting.location %>
      </td>
      <td class="new">
        <%= @revision.location %>
      </td>
    </tr>
    <tr>
      <td class="original">
        <%= @meeting.organizer %>
      </td>
      <td class="new">
        <%= @revision.organizer %>
      </td>
    </tr>
    <tr>
      <td class="original">
        <%= @meeting.description %>
      </td>
      <td class="new">
        <%= @revision.description %>
      </td>
    </tr>
    <tr>
      <td class="original">
        <%= @meeting.url %>
      </td>
      <td class="new">
        <%= @revision.url %>
      </td>
    </tr>
    <tr>
      <td class="original">
        <%= @meeting.suggested_by %>
      </td>
      <td class="new">
        <%= @revision.suggested_by %>
      </td>
    </tr>
  </table>

  <%= submit_tag "Godkend" %>
<% end %>

<%= link_to 'Back', meetings_path %>
