@using Geekhub.Modules.Core.Mvc
<div id="menu">
    @if (User.Identity.IsAuthenticated && Context.GetUserInformation() != null) {
        var userInformation = Context.GetUserInformation();
        <div class="user">
            <table cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="width:0;">
                        <img src="@userInformation.ImageUrl" />
                    </td>
                    <td style="width:100%; text-align: left;">
                        <span>@userInformation.DisplayName</span>
                    </td>
                    <td style="vertical-align: middle;">
                        <a href="@Url.Action("Logout", "Users")">
                            @Html.Partial("SVG/Logout")
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    } else {
        <div class="user">
            <table cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>

                    <td style="text-align: center;">

                        <a href="@Url.Action("Login", "Users")">
                            @Html.Partial("SVG/Login")
                            Log ind
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    }
    
    <a class="menu-item" href="@Url.Action("Index", "Meetings")">Events / Møder</a>
    <a class="menu-item" target="_blank" href="https://medium.com/@("@geekhubdk")/">Blog</a>
    <a class="menu-item" href="@Url.Action("Archive", "Meetings")">Arkiv</a>
    <a class="menu-item" href="@Url.Action("Create", "NewsletterSubscriptions")">Nyhedsbrev</a>
    <a class="menu-item" target="_blank" href="http://twitter.com/geekhubdk">Twitter</a>
    <a class="menu-item" href="@Url.Action("Rss", "Articles")">RSS</a>
    <a class="menu-item" href="@Url.Action("Ics", "Articles")">Kalender Feed</a>
    <a class="menu-item" href="@Url.Action("Embed", "Articles")">Embed / Widget</a>
    <a class="menu-item" target="_blank" href="https://github.com/geekhubdk/geekhub">Github</a>
    <a class="menu-item" href="@Url.Action("Guidelines", "Articles")">Retningslinier</a>
    <a class="menu-item" href="@Url.Action("About", "Articles")">Om Geekhub</a>
    
</div>


