<% content_for :title, "Arrangører i det danske community" %>
<div class="container">
<div id="organizers">
	<%= render "shared/navigation" %>
	
	<div class="row">
		<div class="span9">
			<h1>Arrangører i det danske community</h1>
			<p>Nedenunder ses en liste af arrangører og brugergrupper i det danske community som hoster events til udviklere.<br/>Hvis der mangler en på listen, så kan du tilføje den ved at trykke på 'Ny arrangør'</p>
		</div>
		<div class="span3">
			<%= link_to 'Ny arrangør', new_organizer_path, class: "pull-right big-frontpage-button btn btn-primary btn-large" %>
		</div>
	</div>

	<div class="organizers row">
		<% @organizers.each do |organizer| %>
			<div class="span12">
				<article class="organizer">
				  <h1><%= link_to organizer.name, organizer.url %></h1>
				  <p><%= nl2br organizer.description %></p>
					<% if user_signed_in? && organizer.can_be_edited_by(current_user) %>
					  <%= link_to 'Rediger', edit_organizer_path(organizer) %>
					  <%= link_to 'Slet', organizer, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
				</article>
			</div>
		<% end %>
	</div>

</div>
</div>