<ul class="main-nav hidden-phone">
	<li class="main-nav-tab main-nav-tab-events">
		<%= link_to 'Events', root_path %>
	</li>
	<li class="main-nav-tab main-nav-tab-organizers">
		<%= link_to 'Arrangører', organizers_path %>
	</li>
	<li class="main-nav-tab">
		<%= link_to 'Kildekode', "https://github.com/deldy/geekhub/" %>
	</li>
	<li class="main-nav-tab">
		<%= link_to 'Wiki', "https://github.com/deldy/geekhub/wiki" %>
	</li>
	<li class="main-nav-tab">
		<%= link_to 'API', "https://github.com/deldy/geekhub/wiki/api" %>
	</li>
</ul>