<nav class="main-nav">
	<div class="main-nav-tab main-nav-tab-events">
		<%= link_to 'Events', root_path %>
	</div>
	<div class="main-nav-tab main-nav-tab-organizers">
		<%= link_to 'Arrangører', organizers_path %>
	</div>
	<div class="main-nav-tab">
		<%= link_to 'Github', "https://github.com/deldy/geekhub/" %>
	</div>
	<div class="main-nav-tab">
		<%= link_to 'Wiki', "https://github.com/deldy/geekhub/wiki" %>
	</div>
	<div class="main-nav-tab">
		<%= link_to 'API', "https://github.com/deldy/geekhub/wiki/api" %>
	</div>
</nav>