<ul class="main-nav hidden-phone">
	<li class="main-nav-tab main-nav-tab-events">
		<%= link_to 'Events', root_path %>
	</li>
	<li class="main-nav-tab main-nav-tab-organizers">
		<%= link_to 'Arrangører', organizers_path %>
	</li>
	<li class="main-nav-tab main-nav-tab-html-widget">
		<%= link_to 'HTML Widget', widget_example_path %></sup>
	</li>
	<li class="main-nav-tab main-nav-tab-feedback">
		<%= link_to 'Giv feedback', feedback_path %>
	</li>
	<li class="main-nav-tab">
		<%= link_to 'API', 'https://github.com/geekhubdk/geekhub/wiki/api', target: '_blank' %>
	</li>
	<li class="main-nav-tab main-nav-tab-contact">
		<%= link_to 'Kontakt', kontakt_path %>
	</li>
</ul>
