<%
  show_day = show_day || false
%>
<div class="meeting">
  <table>
    <tr>
      <td class="date">
        <% if show_day %>
          <span class="day"><%= l meeting.starts_at, format: :weekday %></span>
          <span class="month"><%= l meeting.starts_at, format: :day %>. <%= l meeting.starts_at, format: :month %></span>
        <% else %>
          <span class="day"><%= l meeting.starts_at, format: :day %></span>
          <span class="month"><%= l meeting.starts_at, format: :month %></span>
        <% end %>
      </td>
      <td>
        <div class="title">
          <%= meeting.title %>
        </div>
      </td>
      <td class="information">
        <div class="tags">
          <div class="tag location"><%= meeting.location %></div>
          <div class="tag technology">.NET</div>
          <div class="tag technology">Web</div>
          <% unless meeting.costs_money %>
            <div class="tag free">Gratis</div>
          <% end %>
          <div class="tag organizer"><%= meeting.organizer %></div>
        </div>
      </td>
    </tr> 
  </table>  
</div>