<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
<style>
body {
  margin: 0;
}

#container {
  margin: 0;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #111;
}

#container .header {
  background-color: #0072BB;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 8px;
}

.meeting {
  border-bottom: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  padding: 8px;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  height: 40px;
  text-overflow: ellipsis;
}

.meeting a {
  color: #111;
  text-decoration: none;
}

.meeting small {
  color: #888;
}

.title {
  display: block;
  margin-top: 2px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.date {
  float: left;
  font-weight: 400;
  border: 1px solid #E5E5E5;
  width: 28px;
  margin-right: 5px;
  border-radius: 3px 3px 0 0;
}

.date .day {
  font-size: 17px;
  text-align: center;
}

.date .month {
  font-size: 13px;
  text-align: center;
  background-color: #1b7ebf;
  color: #fff !important;
}

.tags-tag {
  display: inline-block;
  padding-right: 5px;
  margin-top: 3px;
}

.tags-tag.technology {
  color: #336644;
}

.tags-tag.location {
  color: #777799;
}

.tags-tag.attendees .image {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  margin-right: 5px;
  border: 1px solid #d8d8d8;
  vertical-align: text-bottom;
}

img {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  vertical-align: top;
}

.tags-tag.free {
  font-weight: 500;
}

</style>
<div id="container" style="overflow:hidden;">

<a class="header" href="<%=root_url(utm_source: "widget")%>" target="_blank"><%=@title%></a>
<div class="meetings">
  <% @meetings.each do |meeting| %>
  <div class="meeting" title="<%= "#{meeting.city.name} - #{l meeting.starts_at, format: :short} - #{meeting.title}" %>">
    <div class="date">
      <div class="day"><%= l meeting.starts_at, format: "%d" %></div>
      <div class="month"><%= l meeting.starts_at, format: "%b" %></div>
    </div>
    <a href="<%= meeting_url(meeting, utm_medium: "widget") %>" target="_blank"><span class="title"><%= meeting.title %></span>
    <%= render partial: 'meetings/tags', locals: { meeting: meeting } %>
    </a>
  </div>
  <% end %>
</div>
<script type="text/javascript">
  var elements = document.querySelectorAll(".geekhub-widget-meetings a");

  for (var i = 0; i < elements.length; i++) {
    element = elements[i];
    element.href += "&utm_source=" + document.referrer;
    // Do something with element i.
  }

</script>
