@model Geekhub.Modules.Meetings.ViewModels.MeetingFormModel

<script src="~/Public/Vendor/jquery/jquery-2.1.0.js"></script>
<script src="~/Public/Vendor/select2/select2.min.js"></script>
<link href="~/Public/Vendor/select2/select2.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<div class="site-content">
    <div id="createMeetingForm">
        <h1>Opret/Rediger event</h1>
        <p>Her kan du oprette eller redigere et event / møde. Før du gør det, så læs lige <a href="@Url.Action("Guidelines", "Articles")">retningslinierne</a> omkring hvilke møder som passer på listen.</p>
        <p>Alle har lov til at oprette events, samt at alle kan redigere dem. Så vær flink og opføre dig ordenligt hvis du redigere et møde.</p>
        <div class="form">
            <form method="post">

                <div class="form-row">
                    <div class="label">
                        <label>
                            Url/Link <span class="help">
                                    (Den vil automatisk prøve at parse links fra følgende sites:
                                    <a href="http://facebook.com">Facebook</a>,
                                    <a href="http://meetup.com">Meetup</a>,
                                    <a href="http://trifork.dk">Trifork</a>,
                                    <a href="http://prosa.dk">Prosa</a> &amp;
                                    <a href="http://ida.dk">IDA</a>)
                            </span>
                        </label>
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Url, new { type = "url", required = true })
                    </div>
                </div>
                <p>
                    <small class="muted">
                        
                    </small>
                </p>
                <div class="form-row">
                    <div class="label">
                        <label>Titel</label>
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Title, new { required = true })
                    </div>
                </div>
                <div class="form-row">
                    <div class="label">
                        <label>By</label>
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(x => x.City)
                    </div>
                </div>
                <div class="form-row">
                    <div class="label">
                        <label>Hvornår</label>
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(x => x.StartsAtDate, new { type = "date", required = true, @class = "date-field" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="label">
                        <label>Arrangører</label>
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Organizers, new { style = "width:100%", required = true, id = "organizers", data_tags = ViewBag.Organizers })
                    </div>
                </div>
                <div class="form-row">
                    <div class="label">
                        <label>Tags <span class="help">(valgfri)</span></label>
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Tags, new { style = "width:100%", required = true, id = "tags", data_tags = ViewBag.Tags })
                    </div>
                </div>
                <div class="form-row">
                    <div class="label">
                        <label>Beskrivelse <span class="help">(beskriv dit event, du må gerne bruge teksten på den originale site)</span></label>
                    </div>
                    <div class="controls">
                        @Html.TextAreaFor(x => x.Description, new { @class = "meeting-description-input", required = false })
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Opret" />
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        setupTagField("#tags");
        setupTagField("#organizers");

        $("#Url").blur(function () {
            var url = $(this).val();

            $.getJSON("@Url.Action("GetInformation", "Klepto")?url=" + encodeURIComponent(url)).success(function (data) {
                console.log(data);
                $("#Title").val(data.Title);
                $("#City").val(data.City);
                $("#StartsAtDate").val(moment(data.Date).format("YYYY-MM-DD"));
                $("#organizers").select2("val", [data.Organizer]);
            });
        });

        $('form input').bind("keyup keypress", function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                e.preventBubble();
                return false;
            }
        });


        $("#address").blur(function () {
            setTimeout(function () {
                $("#address").val($("#address_formatted").val());
            }, 0);
        });
    });

    function setupTagField(field) {
        var element = $(field);
        var tags = jQuery.parseJSON(element.attr("data-tags"));
        element.select2({ tags: tags, tokenSeparators: [","] });
    }
</script>

