@model Geekhub.Modules.Meetings.ViewModels.WidgetViewModel

<!DOCTYPE html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
        <style>
            body {
                margin: 0;
            }
        </style>
        <link href="/Stylesheets/Widget.min.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="geekhub-widget" id="container" style="overflow:hidden;">

        <a class="header" href="http://www.geekhub.dk/?utm_source=widget" target="_blank">@Model.Header</a>
        <div class="meetings">
            @foreach (var item in Model.Meetings) {
                <div class="meeting" title="@item.Tooltip">
                    <div class="date">
                        <div class="day">@item.Day</div>
                        <div class="month">@item.Month</div>
                    </div>
                    <a href="@item.Link" target="_blank">
                        <span class="title">@item.Title</span>
                        <div class="tags">
                            <div class="tags-tag location">@item.Location</div>
                            @foreach (var tag in item.Tags) {
                                <div class="tags-tag technology">
                                    @tag
                                </div>
                            }
                            <div class="tags-tag organizer">@item.Organizers</div>

                        </div>
                    </a>
                </div>
            }
        </div>
        <script type="text/javascript">
            var elements = document.querySelectorAll(".meeting a");

            for (var i = 0; i < elements.length; i++) {
                element = elements[i];
                element.href += "?utm_source=" + document.referrer;
            }
        </script>
    </div>
</body>

</html>


