<!DOCTYPE html>
<html>
  <head>
    <title>Geekhub</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Habibi' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="RSS over kommende møder" href="/meetings.rss" />
    <meta name="viewport" content="width=520" />  
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4193296-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <div class="logo">
          <%= link_to 'Geekhub', root_path %>
        </div>
        <div class="menu">
          <% if user_signed_in? %>
            <%= link_to 'Log ud', destroy_user_session_path, :method => :delete %>
            <%= link_to 'Godkend møder', meetings_path(:approved => 0) %>
          <% end %>
          <%= link_to 'Foreslå event', new_meeting_path %>
          <%= link_to image_tag('/rss.png'), meetings_path(:format => :rss) %>
        </div>
      </div>
    </header>
    <div class="page-content">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-content">
        Copyright &copy; 2012 <a href="http://twitter.com/#!/jesperbjensen">Jesper Blad Jensen (aka. Deldy)</a>. Kildekoden er tilgængelig på <a href="http://github.com/deldy/geekhub">Github</a>
      </div>
    </footer>
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/4W5qHXOB7PGC2tcRzH2VkQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  </body>
</html>
