<h1>Opret dig som medlem</h1>

<%= form_for @member do |f| %>
  <div><%= f.label :email, "E-mail" %></div>
  <div><%= f.text_field :email %></div>
  
  <div><%= f.label :name, "Navn" %></div>
  <div><%= f.text_field :name %></div>
  
  <div><%= f.label :password, "Password" %></div>
  <div><%= f.password_field :password %></div>

  <div><%= f.submit "Opret", :disable_with => 'Opretter dig...' %></div>
<% end %>